<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>
        <property name="hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>

        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Assume test is the database name -->
        <property name="hibernate.connection.url">
            jdbc:mysql://dt5.ehb.be/SP2_gr8
        </property>
        <property name="hibernate.connection.username">
            SP2_gr8
        </property>
        <property name="hibernate.connection.password">
            hqXLv
        </property>

        <!-- Debug properties, remove for production use!-->
        <property name="show_sql">false</property>
        <property name="format_sql">false</property>
        <property name="use_sql_comments">false</property>

        <!-- List of XML mapping files -->
        <mapping resource="user.hbm.xml"/>
        <mapping resource="quiz.hbm.xml"/>
        <mapping resource="question.hbm.xml"/>
        <mapping resource="userAnswer.hbm.xml"/>
        <mapping resource="userSubscription.hbm.xml"/>
        <mapping resource="questionAnswer.hbm.xml"/>
        <mapping resource="answer.hbm.xml"/>
        <mapping resource="audioQuestion.hbm.xml"/>
        <mapping resource="videoQuestion.hbm.xml"/>
        <mapping resource="imageQuestion.hbm.xml"/>


    </session-factory>
</hibernate-configuration>