<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!--<p th:text="'Hello, ' + ${username} + '! Wauw dit is leuk!'" />-->

<form method="post">
    Gebruikersnaam: <input type="text" id="username" default="Gebruikersnaam" /><br />
    Wachtwoord: <input type="password" id="password" default="Password" /><br />
    <input type="submit" />
</form>

</body>
</html>